<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tournament List</title>
</head>
<body layout:fragment="body">
    <div class="container">
        <div th:if="${param.success}" class="alert alert-success">
            You are registered successfully!
        </div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="tournament : ${tournaments}" th:onclick="|window.location.href='@{/tournaments/{id}(id=${tournament.id})}'|">
                <td th:text="${tournament.id}"></td>
                <td th:text="${tournament.name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>