<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tournament Detail</title>
</head>
<body layout:fragment="body">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">[[${tournament.name}]]</h5>

                <div class="mt-4">
                    <!-- Register button for ROLE_USER -->
                    <a th:if="${!isRegistered}"
                       th:href="@{/registrations/{tournament_id}/new(tournament_id=${tournament.id})}"
                       class="btn btn-primary me-2"
                       sec:authorize="hasRole('ROLE_USER')">
                        Register
                    </a>

                    <!-- Withdraw button for ROLE_USER -->
                    <a th:if="${isRegistered}"
                       th:href="@{/registrations/{tournament_id}/withdraw(tournament_id=${tournament.id})}"
                       class="btn btn-warning me-2"
                       sec:authorize="hasRole('ROLE_USER')">
                        Withdraw
                    </a>

                    <!-- Update button for ROLE_ADMIN -->
                    <a th:href="@{/tournaments/{id}/edit(id=${tournament.id})}"
                       class="btn btn-success me-2"
                       sec:authorize="hasRole('ROLE_ADMIN')">
                        Update
                    </a>

                    <!-- Delete button for ROLE_ADMIN -->
                    <a th:href="@{/tournaments/{id}/delete(id=${tournament.id})}"
                       class="btn btn-danger"
                       sec:authorize="hasRole('ROLE_ADMIN')">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>