<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tournament List</title>
    <style>
        .table-hover tbody tr:hover {
            cursor: pointer;
        }
    </style>
</head>
<body layout:fragment="body">
    <div class="container py-5">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Location</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="tournament : ${tournaments}" th:onclick="|window.location.href='@{/tournaments/{id}(id=${tournament.id})}'|">
                <td th:text="${tournament.name}"></td>
                <td th:text="${tournament.startDate}"></td>
                <td th:text="${tournament.endDate}"></td>
                <td th:text="${tournament.location}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>